<nav class=" navbar-light bg-dark fixed-top">
<div class="d-flex" >
      <div class="container-fluid" style="display: flex;justify-content: space-between !important; padding: 10px 20px 10px 20px">
        <a class="navbar-brand text-white" href="{% url 'home' %}">Mlk Store</a>
      {% if user.is_authenticated %}
          <button class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Loja</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Logout
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Sair agora</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </div>
      {% else %}
      <div>
        <a class="btn btn-outline-primary" href="{% url 'login' %}" style="padding: 10px 20px 10px 20px">Log in</a>
        <a class="btn btn-primary" href="{% url 'cadastro' %}" style="padding: 10px 20px 10px 20px">Sig in</a>
      </div>
      {% endif %}
</div>
  
  
  



</nav>