{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    {% include 'links.html' %}
</head>
<body>

{% include 'navbar.html' %}
<br><br><br><br>
    
<div class="container" style="max-width:400px; border:solid 1px #ccc; padding:2rem; margin-top: 3rem">
    <h2 class="mt-4 mb-4">Login</h2>
    {% include 'msg.html' %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

      <div class="mb-3">
        <label class="form-label">Usuário</label>
        <input type="text" class="form-control" name="usuario">
      </div>
      <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" class="form-control" name="senha1">
      </div>
      <button type="submit" class="btn btn-primary">Fazer login</button>
      <a class="btn btn-outline-primary" href="{% url 'cadastro' %}">Fazer cadastro</a>
    </form>
</div>

{% include 'bootstrap.html' %}
</body>
</html>